{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/index.css' %}">

<!DOCTYPE html>
<html>

	<head>
		<title>Chat room</title>
	</head>
	
	<body>	

		{% for story in news %}
			
			<p class="test"> {{story}} </p>
			<div id="news_box"> </div>

		{% endfor %}

		<div id="header">  

			<div id="menu_button"> 	
				<form action="#" method="get">
					<input type="submit" class="btn" value="MENU" name="mybtn">
					<input type="submit" class="btn" value="MENU2" name="mybtn2">
				</form>
			</div>

		</div>

	</body>
	
</html>
