body{
	background-color: black;

}

.test{
	color: #bfbfbf;
	text-align: left;
	position: relative;
	margin-bottom: 23px;
	font-family: Arial;
	font-size: 17px;
	top: 72px;
}

#news_box{
	background-color: #262626;
	position: relative;
	width: 100%;
	height: 1px;
	left: 0px;
	border-radius: 13px;
	top: 10px;	
}

#header{
	background-color: #262626;
	position: fixed;
	width: 100%;
	height: 50px;
	left: 0px;
	top: 0px;	
}

#menu_button{
	position: absolute;
	top: 10px;
	left: 80%;
}